<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fantasy Basketball Optimizer</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Game On</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/fanduel">Fan Duel</a>
                    </li>
                    <li>
                        <a href="/data">Data</a>
                    </li>
                    <li>
                        <a href="/my_picks">My Picks</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Fantasy Basketball Forecasting</h1>
                <br>

                <!-- add an image -->
                <img src="static/images/stephwin.jpg" alt="missing image :(">
                <br>
                <font size="3" color="blue">How many points will Steph score today?</font>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>The World of Fantasy</h1>
                <br>
                <br>
                <h4>Daily Fantasy is a huge emerging market that imbues the sports world with statistics and gaming. With FanDuel's 275 million dollar Series E and DraftKings 300 million dollar Series D, the two startups have crossed the defining valuation of one billion dollars a piece.</h4>

                <br>  <!-- add break line-->
                <!-- paragraphs -->
                <p>
                    Relatively new, daily fantasy was started in 2009 by FanDuel as an alternative to season-long fantasy sports provided by Yahoo and CBS. In this project, we will explore different techniques to optimize lineups and attempt to implement a machine learning technique that can compete against humanst. The implications of such an algorithm is massive; it could be used for either highly accurate salary assignments by a fantasy site or arbitrage for personal gain. 
                </p>

                <!-- add an image -->
                <img src="static/images/duncan.jpg" alt="missing image :(" height="360" width ="630">
                <p>
                    But winning isn't always sexy
                </p>
                <br>
                <br>
                <p class="lead"></p>
                <ul class="list-unstyled">
                 <!--   <li>Hello!</li>    -->
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
